/*
# A fork of PluCSS with a lot of removal and renamed class
# My fork is in the end ultra minimal and lightweight
# Forked from	plucss.css (https://plucss.pluxml.org) 1.1 by Deevad
# Original Authors of Plucss:	Jos
# Licensed under the GPL license. Copyright (c)	2014, 2015 PluXml
# See http://www.gnu.org/licenses/gpl.html
*/

/* RESET
------------------------------ */
*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body { font-family: sans-serif; line-height: 1.4; margin: 0;}
article, aside, figcaption, figure, footer, header, main, nav, section { display: block;}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline;}
audio:not([controls]) { display: none; height: 0;}
figure { margin: 0;}
a { background: transparent; color: #258fd6; text-decoration: none;}
a:active, a:hover { color: #444; outline: 0; text-decoration: underline;}
abbr { border-bottom: 1px dotted; cursor: help;}
b, strong { font-weight: bold;}
blockquote { font-style: italic;}
cite:before { content: "— ";}
code, kbd, pre, samp { font-family: monospace; font-size: 1rem;}
dfn { font-style: italic;}
dt { font-weight: bold;}
dd { margin-left: 0;}
h1, h2, h3, h4, h5, h6 { font-weight: 500; line-height: 1; margin: 2rem 0 1rem 0;}
.h1, .h2, .h3, .h4, .h5, .h6 { height: auto;}
h1, .h1 { font-size: 2.2rem;}
h2, .h2 { font-size: 1.8rem;}
h3, .h3 { font-size: 1.5rem;}
h4, .h4 { font-size: 1.2rem;}
h5, .h5 { font-size: 1rem;}
h6, .h6 { font-size: 0.8rem;}
hr { height: 0;}
mark { background: #ff0; color: #000;}
pre { overflow: auto;}
small { font-size: .8rem;}
sub, sup { font-size: .8rem; line-height: 0; position: relative; vertical-align: baseline;}
sup { top: -0.5rem;}
sub { bottom: -0.25rem;}
ul { margin: 0 0; padding: 0 0;}
ul.inline-list { font-size: 0rem; margin: 1rem 0; padding-left: 0;}
ul.inline-list li { display: inline-block; list-style-type: none; margin-left: .5rem; font-size: 1rem;}
ul.inline-list li:first-child { margin-left: 0;}
ul.unstyled-list { padding-left: 0;}
ul.unstyled-list li { list-style-type: none;}

/* TABLE
------------------------------ */
caption, th { text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
td, th { border: 1px solid #bbb; padding: .4rem .7rem;}
tfoot, thead { background-color: #e1e1e1;}

/* NAVIGATION
------------------------------ */
.menu { font-size: 0rem; margin: 0; padding-left: 0;}
.menu li { display: inline-block; font-size: 1rem; list-style-type: none; margin-left: 1rem;}
.menu li:first-child { margin-left: 0;}
.menu li.active a { color: #444;}
.menu.vertical li { display: block; margin-left: 0;}
.menu.expanded li { margin-left: 0;}
.menu.expanded li:hover { background-color: #ddd;}
.menu.expanded li a { display: block; padding: .425rem .7rem;}
.menu.expanded li a:hover { text-decoration: none;}
.menu.breadcrumb li + li:before, .menu.expanded.breadcrumb > li + li a:before { content: "/";}
.menu.breadcrumb li + li:before, .menu.expanded.breadcrumb > li + li:before, .menu.expanded.breadcrumb > li + li a:before { margin-right: .7rem;}
.menu.expanded.breadcrumb > li + li:before { content: none;}
.responsive-menu label { background-color: #444; color: #fff; cursor: pointer;}
.responsive-menu label, .responsive-menu input[type=checkbox] { display: none;}
.responsive-menu label { padding: 4px 0 0 4px;}
.responsive-menu input[type=checkbox]:checked+ul { display: block;}

@media (max-width: 1280px) { 
  .responsive-menu ul { display: none;}
  .responsive-menu label, .responsive-menu ul li { display: block; margin-left: 0 }
  .responsive-menu ul li:hover { background-color: #ddd;}
  .responsive-menu ul li a { display: block; padding: .425rem .7rem;}
  .responsive-menu ul li a:hover { text-decoration: none;}
  .responsive-menu .menu.breadcrumb li + li:before, .responsive-menu .menu.expanded.breadcrumb > li + li a:before { content: none;}
  .responsive-menu ul li.active a, .responsive-menu ul li.active:hover { background-color: #258fd6; color: #fff;}
}

/* HELPER
------------------------------ */
img { border: 0; height: auto; max-width: 100%; }
.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.text-justify { text-align: justify;}
.float-left { float: left;}
.float-center { display: block; margin-left: auto; margin-right: auto;}
.float-right { float: right;}
.float-none { float: none;}
.show { display: block;}
.hide { display: none;}
.full-width { width: 100%;}
.width-auto { width: auto;}
.no-margin { margin: 0;}
.no-padding { padding: 0;}
.off { opacity: 0.30;}
.off, .off:hover { cursor: default;}

/* GRID, GALLERY, HELPER
------------------------------ */
/* Small and under 768 */
.container { margin: 0 auto; max-width: 1510px;}
.grid {overflow: hidden; }
.col { float: left; position: relative; min-height: 1px; padding-left: 0.3rem; padding-right: 0.3rem; width: 100%;}
.pad { padding-left: 1rem; padding-right: 1rem;}
.col.sml-1 { width: 8.3333%;}
.col.sml-2 { width: 16.6666%;}
.col.sml-3 { width: 25%;}
.col.sml-4 { width: 33.3333%;}
.col.sml-5 { width: 41.6666%;}
.col.sml-6 { width: 50%;}
.col.sml-7 { width: 58.3333%;}
.col.sml-8 { width: 66.6666%;}
.col.sml-9 { width: 75%;}
.col.sml-10 { width: 83.3333%;}
.col.sml-11 { width: 91.6666%;}
.col.sml-12 { width: 100%;}
.col.sml-centered { float: none; margin-left: auto; margin-right: auto;}
.sml-text-left { text-align: left;}
.sml-text-center { text-align: center;}
.sml-text-right { text-align: right;}
.sml-text-justify { text-align: justify;}
.sml-show { display: inline;}
.sml-hide { display: none;}
.sml-full-width { width: 100%;}
.sml-width-auto { width: auto;}

/* Medium and greater (768 ~ 1024) */
@media (min-width: 768px) {
.container { padding-left: 1rem; padding-right: 1rem; }
.grid {overflow: hidden;}
.container { padding-left: 1rem; padding-right: 1rem;}
.col.med-1 { width: 8.3333%;}
.col.med-2 { width: 16.6666%;}
.col.med-3 { width: 25%;}
.col.med-4 { width: 33.3333%;}
.col.med-5 { width: 41.6666%;}
.col.med-6 { width: 50%;}
.col.med-7 { width: 58.3333%;}
.col.med-8 { width: 66.6666%;}
.col.med-9 { width: 75%;}
.col.med-10 { width: 83.3333%;}
.col.med-11 { width: 91.6666%;}
.col.med-12 { width: 100%;}
.col.med-centered { float: none; margin-left: auto; margin-right: auto;}
.med-text-left { text-align: left;}
.med-text-center { text-align: center;}
.med-text-right { text-align: right;}
.med-text-justify { text-align: justify;}
.med-show { display: inline;}
.med-hide { display: none;}
.med-full-width { width: 100%;}
.med-width-auto { width: auto;}
}

/* Larger than 1280 */
@media (min-width: 1282px) {
.grid {overflow: hidden;}
.container { padding-left: 1rem; padding-right: 1rem;}
.col.lrg-1 { width: 8.3333%;}
.col.lrg-2 { width: 16.6666%;}
.col.lrg-3 { width: 25%;}
.col.lrg-4 { width: 33.3333%;}
.col.lrg-5 { width: 41.6666%;}
.col.lrg-6 { width: 50%;}
.col.lrg-7 { width: 58.3333%;}
.col.lrg-8 { width: 66.6666%;}
.col.lrg-9 { width: 75%;}
.col.lrg-10 { width: 83.3333%;}
.col.lrg-11 { width: 91.6666%;}
.col.lrg-12 { width: 100%;}
.col.lrg-centered { float: none; margin-left: auto; margin-right: auto;}
.lrg-text-left { text-align: left;}
.lrg-text-center { text-align: center;}
.lrg-text-right { text-align: right;}
.lrg-text-justify { text-align: justify;}
.lrg-show { display: inline;}
.lrg-hide { display: none;}
.lrg-full-width { width: 100%;}
.lrg-width-auto { width: auto;}
}
