/* Custom theme for peppercarrot.com
 * Copyright (c) 2015 David Revoy,GPL license
 * (http://www.gnu.org/licenses/gpl.html)
*/

/* Typo */
@font-face {
  font-family: 'PepperCarrot';
  src: url('../font/PepperCarrot.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Handserah';
  src: url('../font/Handserah.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; 
}

body {
  background-size: 100% auto;
}

.paper {
  background: url('../img/paper-c-grain.jpg');
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.paper-dark {
  background: url('../img/paper-c-grain_dark.jpg');
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

a {
  background: transparent;
  color: #b44906;
}

a:active,a:hover {
  color: #ff8d0b;
  outline: 0;
  text-decoration: underline;
  text-decoration-color: #ffb028;
}

pre, code {
  color: #111;
  background-color: #FFF9F2;
  margin: 0.5rem 0;
  overflow: auto;
  padding: 0.3rem 0.6rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Handserah', serif;
  text-wrap: balance;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0.6rem;
}

h4 {
  font-size: 1.2rem
}

figure+em,img+em,h1+p em {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  color: #6b5e4f;
  font-size: 1.1rem;
  text-align: center !important;
}

.imgfill img {
  width: 100%;
  height: auto;
}

/* --- WEBCOMIC COMIC PAGES --- */

.notification {
  color: #303030;
  max-width: 800px;
  border-radius: 8px;
  background: #d8ebfa url('../img/ico-info.svg') no-repeat left center;
  padding: 20px 20px 20px 60px;
  text-decoration: none;
  margin: 20px auto;
}

.notification-warning {
  background: #e39c7c url('../img/ico-warning.svg') no-repeat left center;
}

.xyz {
  color: #A22;
  max-width: 660px;
  text-align: center;
  margin: 20px auto;
}

.xyz a {
  color: #A22;
  text-decoration: none;
  border-bottom: 1px dashed #A22;
}

.container-sml {
  max-width: 900px;
}

.container-med {
  max-width: 1280px;
}

.containercomic {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.comicmonopagebg {
  margin: 0 auto;
  clear: both;
  max-width: 100%;
}

.webcomic-page {
  text-align: center;
}

.transcript {
  color: #000;
  border-radius: 8px;
  background: #FFF;
  padding: 20px 20px 20px 52px;
  max-width: 500px;
  margin: 10px auto;
}

.webcomic h2 {
  margin: 2rem 0 1.5rem 0;
  padding: 0 0;
  text-align: center;
  font-family: "PepperCarrot", Times, serif;
  font-size: 3.2rem;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.miniFantasyTheater h2 {
  margin: 1.2rem 0 0.8rem 0;
  font-size: 2.2rem;
}

.webcomic .timestamp {
  margin: 0 auto 0 auto;
  font-size: 0.9rem;
  text-align: center;
  color: #6c6c6c;
}

.miniFantasyTheater {
  max-width: 1080px;
}

.miniFantasyTheater .timestamp {
  margin: 0 auto 1rem auto;
}

.webcomic {
  position: relative;
}

.webcomic p {
  margin: 0.5rem auto 1rem auto;
  max-width: 800px;
  text-align: justify;
  font-family: "Georgia", Times, serif;
  font-size: 1.15rem;
  color: #FFF;
}

.webcomic a {
  background: transparent;
  color: #ff6708;
}

.webcomic-bg-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0.5rem auto 0 auto;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.webcomic-bg-wrapper-misc {
  position: relative;
  max-width: 1200px;
  margin: 0.5rem auto 0 auto;
}

.webcomic-bg-wrapper-mft {
  position: relative;
  max-width: 1080px;
  margin: 0.5rem auto 0 auto;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.comic-options {
  right: 0.3rem;
  top: 0.3rem;
  position: absolute;
}

.options-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.options-content a {
  color: black;
  padding: 0.8rem 1rem 0.8rem 4rem;
  text-decoration: none;
  display: block;
  background: transparent url('../img/option-off.svg') no-repeat center left 0.8rem;
}

.options-content a.active {
  background: transparent url('../img/option-on.svg') no-repeat center left 0.8rem;
}

.options-content a:hover {
  background-color: #ffb300
}

.comic-options:hover .options-content {
  display: block;
}

.comic-options:hover .options-btn {
  filter: brightness(160%);
}

.navigation {
  margin: 0 0 0 0;
  clear: both;
  max-width: 800px
}

.navigation-btn {
  display: block;
  width: 100%;
  margin: 0.2rem auto;
  font-size: 1.5rem;
  font-family: 'PepperCarrot', Times, serif;
  text-decoration: none;
  text-align: center;
  width: max-content;
}

a.navigation-btn {
  color: #8b7f75;
}

a.navigation-btn:hover {
  color: #b9a9a0;
  text-decoration: none;
  filter: brightness(160%);
}

a.navigation-btn.off:hover {
  filter: none;
}

.webcomic-details {
  width: max-content;
  max-width: 20rem;
  padding: 0.5rem 1.5rem;
  margin: 0.6rem auto 0.6rem auto;
  color: #8b7f75;
  border: 1px solid #8b7f75;
  border-radius: 0.3rem;
  text-align: center;
  line-height: 1.10rem;
  font-family: sans-serif;
  cursor: pointer;
}

.webcomic details h1 {
  font-family: "Georgia", Times, serif;
  color: #FFF;
  text-align: center;
  font-size: 2rem;
}

.webcomic details h2 {
  font-family: "Georgia", Times, serif;
  text-align: center;
  font-size: 1.4rem;
}

.small-info {
  font-size: 0.8rem;
  color: #8f8f8f;
}

.webcomic-footer-box {
  color: #fff;
  max-width: 800px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.10);
  padding: 2rem;
  text-align: center;
  margin: 1rem auto;
}

.webcomic-footer-box h3{
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.webcomic-footer-box img{
  margin: 0 0.15rem 0 0.15rem;
}

a.related-link-box {
  display: block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 8px;
  min-height: 150px;
  transition: background-color 0.3s;
}

a.related-link-box img{
  display: block;
  float: left;
  margin: 0.75rem 0.75rem;
}

a.related-link-box h4{
  font-family: sans-serif;
  color: #FFF;
  display: block;
  text-align: left;
  padding-top: 2.2rem;
}

a.related-link-box p{
  font-family: sans-serif;
  font-size: 1rem;
  color: #939393;
  display: block;
  text-align: left;
  padding-bottom: 2.2rem;
}

a.related-link-box:hover {
    background-color: rgba(255, 255, 255, 0.30); /* Darker shade on hover */
}

dl {
  max-width: 860px;
  margin: 0 auto;
  font-family: "Georgia", Times, serif;
  font-size: 1.15rem;
  color: #FFF;
  padding: 1rem 1rem;
}

.sourcebutton {
  background: #D7EBFA url('../ico/dl_sources.svg') no-repeat center left 10px;
  padding: 0.6rem 0.7rem 0.6rem 3rem;
  border-radius: 10px
}

/* --- [legacy] BUTTONS --- */
.button a {
  text-decoration: none;
  color: #FFFFFF !important;
  background: #98C25C url('../img/grain.png');
  margin: 0.2rem 0.3rem;
  padding: 10px 12px 6px 12px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #98C25C inset, 0 0 0 3px rgba(255, 255, 255, 0.80) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
}

.button a:hover {
  filter: brightness(1.1);
}

.mandarine a {
  background-color: orange;
  box-shadow: 0 0 0 2px orange inset, 0 0 0 3px rgba(255, 255, 255, 0.80) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
}

.cherry a {
  background-color: LightCoral;
  box-shadow: 0 0 0 2px LightCoral inset, 0 0 0 3px rgba(255, 255, 255, 0.80) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
}

.gum a {
  background-color: #61C6B6;
  box-shadow: 0 0 0 2px #61C6B6 inset, 0 0 0 3px rgba(255, 255, 255, 0.80) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
}

.choco a {
  background-color: #9B7761;
  box-shadow: 0 0 0 2px #9B7761 inset, 0 0 0 3px rgba(255, 255, 255, 0.55) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
}

.moka a {
  color: #806E5B !important;
  background-color: #F0ECE9;
  box-shadow: 0 0 0 2px #F0ECE9 inset, 0 0 0 3px rgba(222, 168, 131, 0.55) inset, 1px 1px 2px 0 rgba(20, 0, 0, 0.50);
}

.milk a {
  color: #544840 !important;
  background-color: #FFF;
  box-shadow: 0 0 0 2px #FFF inset, 0 0 0 3px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0 rgba(20, 0, 0, 0.50);
}

a.pcminilinkbutton {
  box-shadow: 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.25);
  max-width: 350px;
  display: block;
  margin: 1rem auto 0 auto;
  background: #56958e url('".$root."/core/img/go.svg') no-repeat center right 14px;
  padding: 10px 35px 10px 28px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.20rem;
  border-radius: 12px;
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

a.pcminilinkbutton:hover {
  filter: brightness(1.3);
}

.big {
  font-size: 1.20rem;
}

.top {
  font-size: 1.10rem;
  display: inline-block;
}

.top a {
  padding: 9px 10px;
  display: inline-block;
}



/* --- [legacy] CARDS --- */
.cardsocket {
  min-height: 550px;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cardblock {
  min-height: 535px;
  width: 100%;
  text-align: center;
  padding: 0 0;
  background: #F0ECE9 url('../img/bg.jpg');
  border: 16px solid transparent;
  border-image: url('../img/cards.jpg') 10% round;
}

.cardblockcontent {
  min-height: 460px;
}

.cardblockcontent p {
  width: 90%;
  text-align: justify;
  margin: 10px auto 0 auto;
}

.cardblock h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.cardby {
  color: #ababab;
  font-size: 0.90rem;
}

.cardblock img {
  width: 95%;
  margin: 0 0 10px 0;
}

.cardlink {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #ababab;
  font-size: 0.90rem;
}

.cardblock .button a {
  display: inline-block;
  font-size: 1.1rem;
  width: 90%;
  margin-bottom: 10px;
}

.mini {
  min-height: 100%;
  border-image: url('../img/cards-pencil.jpg') 10% round;
  font-family: "Georgia", Times, serif;
}

/* --- HEADER --- */
.logobox {
  text-align: center;
}

.logobox img {
  margin: 0.6rem auto auto auto;
  height: 42px;
  max-width: none;
}

.logo {
  /*filter: invert(42%) sepia(93%) saturate(1000%) hue-rotate(10deg) brightness(129%); Orange test */
  filter: invert(100%) saturate(0%) brightness(190%)
}

#header {
  width: 100%;
  min-height: 3.75em;
  background: #1f1f1f url('../img/paper-ingres-darker.png') repeat;
}

#header a {
  text-decoration: none;
}

#header .grid {
  overflow: hidden;
  margin: 0 0;
}

/* --- TOP MENU --- */

.menu.expanded {
  padding: 0 0 0 0;
  margin: 6px 0 0 0;
}

.menu.expanded li:hover {
  background-color: rgba(255, 255, 255, 0);
}

.menu.expanded li.active:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}

.menu.expanded li a {
  padding: 7px 14px 7px 14px;
  margin-right: 1px;
}

.menu.expanded li a:hover {
  text-shadow: 1px 0px 20px yellow;
  transition: text-shadow 0.2s ease-in;
}

.menu.expanded a {
  color: #ffffff;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.menu.expanded li.active a, .menu.expanded li.active a:hover {
  color: #ffc146;
}

.menu.expanded li.external i {
  font-size: 0.8rem;
}

.responsive-menu label {
  color: #ffffff;
  background-color: transparent;
  font: normal 2rem 'PepperCarrot', cursive;
}

.responsive-menu label .logo {
  display: in-lineblock;
  height: 45px;
  max-width: none;
  margin-top: 3px;
}

.responsive-menu label .burgermenu {
  display: in-lineblock;
  margin: 0 14px 12px 0;
}

#support {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.10) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
  border-radius: 4px;
}

/* --- LANG MENU --- */

.translabutton {
  display: inline-block;
  border-radius: 0.5rem;
  margin: 0 0.15rem 0 0;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

a.translabutton {
  color: #ffffff;
  text-decoration: none;
}

a:hover.translabutton {
  text-decoration: none !important;
}

a.translabutton.active {
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.bookmark {
  background: url('../img/ico-bookmark.svg') no-repeat center left;
  padding-left: 1.2rem;
}

.langmenu {
  margin: 0;
  padding-left: 0;
}

.langmenu li {
  display: inline-block;
  list-style-type: none;
  margin-left: 1rem;
  text-align: left;
}

.langmenu li:first-child {
  margin-left: 0;
}

.langmenu li.active a {
  color: #444;
}

.langmenu.vertical li {
  display: block;
  margin-left: 0;
}

.langmenu.expanded li {
  margin-left: 0;
}

.langmenu.expanded li:hover {
  background-color: transparent;
}

.langmenu.expanded li a {
  color: #000000;
  display: block;
  padding: .425rem .7rem;
}

.langmenu.expanded li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 0.5rem;
}

.langmenu.breadcrumb li+li:before, .langmenu.expanded.breadcrumb>li+li a:before {
  content: "/";
}

.langmenu.breadcrumb li+li:before,.langmenu.expanded.breadcrumb>li+li:before, .langmenu.expanded.breadcrumb>li+li a:before {
  margin-right: .7rem;
}

.langmenu.expanded.breadcrumb>li+li:before {
  content: none;
}

.langmenu.expanded li.active a, .langmenu.expanded li.active:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  color: #000
}

.responsive-langmenu {
  position: relative;
  z-index: 100;
}

.responsive-langmenu label {
  color: #1a1a1a;
  text-align: right;
}

.responsive-langmenu label,
.responsive-langmenu input[type=checkbox] {
  display: none;
}

.responsive-langmenu input[type=checkbox]:checked+ul {
  display: block;
}

.responsive-langmenu {
  margin-top: 0.5rem;
}

.responsive-langmenu ul {
  display: none;
  width: 100%;
  position: absolute;
  background-color: rgba(224, 238, 235, 0.75);
  backdrop-filter: blur(5px) contrast(30%);
  column-count: 4;
  padding: 3rem;
  margin: 5px 0 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1420px) {
  .responsive-langmenu ul {
    padding: 0.5rem;
    column-count: 3;
    font-size: 0.95rem;
  }
}

@media (max-width: 650px) {
  .responsive-langmenu ul {
    column-count: 2;
  }
}

.responsive-langmenu label,
.responsive-langmenu ul li {
  display: block;
  margin-left: 0
}

.responsive-langmenu ul li:hover {
  background-color: #ddd;
}

.responsive-langmenu ul li a {
  display: block;
  padding: .425rem .7rem;
  text-decoration: none !important;
}

.responsive-langmenu ul li a:hover {
  text-decoration: none !important;
}

.responsive-langmenu .langmenu.breadcrumb li+li:before, .responsive-langmenu .langmenu.expanded.breadcrumb>li+li a:before {
  content: none;
}

.responsive-langmenu ul li.active a,
.responsive-langmenu ul li.active:hover {
  background-color: #258fd6;
  color: #fff;
}

.tag {
  font-size: 0.8rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.20);
  padding: 0 0.3rem 0 2rem;
  color: rgba(0, 0, 0, 0.30);
}

.tagComicPercent {
  background: url('../img/tag_comic.svg') no-repeat left center;
}

.tagWebsitePercent {
  background: url('../img/tag_www.svg') no-repeat left center;
}

/* --- COVER ---*/

.coverArt{
  background: #11171c url('../img/2024-cover-lrg.jpg') repeat-x bottom center;
  background-size: auto 100%;
}

.coverbox {
  min-height: 540px;
  border-radius: 8px;
  margin: 10px 0 20px 0;
}

.textbox {
  position: absolute;
  left: 15%;
  top: 15%;
  text-align: center;
  max-width: 600px;
}

.biglogo {
  display: block;
  filter: invert(100%) saturate(0%) brightness(190%) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.20));
}

.subtext {
  max-width: 420px;
  margin: 10px auto;
  display: block;
  text-align: left;
}

.subtext p {
  color: #ffffff;
  font-family: 'Handserah', serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.90rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0 0 1rem 0;
}

#signature {
  position: absolute;
  bottom: 0;
  right: 1rem;
  opacity: 0.6;
}

@media (max-width: 900px) {
  .textbox {
  position: absolute;
  left: 5%;
  top: 5%;
  }
}

@media (max-width: 650px) {
  .coverArt{
    background-position: right 35% bottom 45%;
  }
  .biglogo {
  display: none;
  }
  .textbox {
  position: absolute;
  left: 5%;
  top: 0%;
  text-align: center;
  max-width: 600px;
  }
  .subtext p {
  margin: 0 0 6rem 0;
  }
}

/* --- BUTTONS --- */

a.btn {
  display: block;
  width: max-content;
  max-width: 20rem;
  padding: 1rem 1.5rem;
  margin: 0 0 0.6rem 0;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  line-height: 1.10rem;
  color: #FFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: sans-serif; 
  line-height: 1.4;
}

.svgToBttn {
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.svgToBttn:hover {
  filter: brightness(1.2);
}

a.btn:hover {
  filter: brightness(1.3);
}

a.btn-moreinfo {
  background-color: #fe6a09;
  font-weight: 600;
}

a.btn-philosophy {
  color: #6b5341;
  margin: 0 auto 1rem auto;
  padding: 0.6rem 1.5rem;
  background-color: #fbfbfb;
  font-size: 1.1rem;
}

a.btn-sources {
  background-color: #f9592d;
  color: #ffffff;
  margin: 1rem auto 1rem auto;
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
}

a.btn-readfirst {
  background-color: #1c2c33;
  font-weight: 600;
}

a.btn-xyz {
  background: #71ab93 url('../img/go.svg') no-repeat center right 14px;
  color: black;
  font-weight: 600;
  max-width: 26rem;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2.2rem;
}

a.btn-more {
  color: #111;
  background: #FFF url('../img/go-dark.svg') no-repeat center right 14px;
  padding-right: 2.2rem;
}

a.btn-bookmark {
  background: #a8bdb7  url('../img/ico-bookmark-big.svg') no-repeat center left 5%;
  padding-left: 2.2rem;
  font-size: 0.9rem;
  text-align: right;
  width: 20rem;
  margin-top: 2rem;
}

a.btn-add-translation {
  background: #a8bdb7  url('../img/ico-addtranslation-big.svg') no-repeat center left 5%;
  padding-left: 2.2rem;
  font-size: 0.9rem;
  text-align: right;
  width: 20rem;
}


/* --- HOMEPAGE BOXES --- */

.note {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
}

.home-box {
  display: block;
  margin: 0.6rem 0 0.6rem 0.3rem;
  background: url('../img/bg.jpg');
  border: 16px solid transparent;
  border-image: url('../img/page.jpg') 10% round;
  font-family: "Georgia", Times, serif;
  padding-bottom: 4rem;
  text-align: center;
  min-height: 28rem;
}

.home-box h3{
  margin: 0 0;
  font-size: 1.7rem;
}

.recent-episode img{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.recent-episode img:hover {
  filter: brightness(1.1);
}

.home-box ul{
  display: block;
  list-style-type: none;
  text-align: left;
  line-height: 2rem;
}

.home-box ul li{
  overflow: hidden; 
  text-overflow: ellipsis;
  list-style-type: none;
  white-space: nowrap;
}

.home-box a.btn-more{
  position: absolute;
  bottom: 5%;
  right: 6%;
  margin-top: 1rem;
}

.bg-patronage{
  background: url('../img/homepage-patronage.png') no-repeat 50% 80%, url('../img/bg.jpg');
  background-size: 100% auto, auto auto;
}

/* --- GALLERY --- */

.gallery-page-container {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem 1rem 0 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#gallery {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 0;
  margin-top: 0.3rem;
}

.dark-paper-bg {
  background: url('../img/bg_dark.jpg');
  border: 16px solid transparent;
  border-image: url('../img/page_dark.jpg') 10% round;
  color: #ffffff;
}

#gallery li {
  height: 180px;
  flex-grow: 1;
}

#gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

#gallery h2, #gallery h3, #gallery h4 {
  color: #fff;
}

#gallery a:hover {
  filter: brightness(110%);
}

#gallery .file-label {
  display: block;
  position: relative;
  bottom: 1.8rem;
  max-height: 20px;
  width: 100%;
  padding-bottom: 1.8rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.90) 100%);
  text-overflow: clip;
  text-align: center;
  font: 0.9rem sans-serif;
  color: white;
}

#gallery .file-all-comic-panels-li {
  display: block;
  height: auto;
}

#gallery .file-all-comic-panels {
  display: block;
  width: 100%;
  text-overflow: clip;
  text-align: center;
  font: 0.9rem sans-serif;
  color: #c2c2c2;
}

#gallery .file-all-comic-panels-thumb {
  min-height: 300px;
  margin-bottom: 0.5rem;
}


/* --- RESSOURCES AND CONTRIBUTE --- */

.contribute-top {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
  max-width:86%;
  margin: 1rem auto 0 auto;
  border: 4px solid #3ca69f;
  text-align: justify;
}

.contribute-top img{
  float:left;
  width: 80px;
  padding-right: 1rem;
}

.contribute-top a{
  color: #3CA69F;
}

.contribute-top a:hover{
  color: #1d504c;
  text-decoration: none;
}

/* Cards */
.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem; 
  max-width: 100%;
}

.card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow: hidden;
}

.card p{
  max-width:86%;
  margin: 0 auto;
  text-align: justify;
}

.card h3{
  margin: 0 auto 0.3rem auto;
  font: normal 32px 'PepperCarrot', cursive;
  text-decoration: none !important;
  color: #000000;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0.85rem;
}

.card-btn {
    align-self: center; 
    margin: 1rem 1rem;
    padding: 0.625rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3ca69f;
    border: none;
    border-radius: 0.3125rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-btn:hover  {
    background-color: #276662;
    text-decoration: none;
    color: #fff;
}

.card-btn-resources {
    background-color: #cb355a;
}

.card-btn-resources:hover  {
    background-color: #731e33;
}

@media (max-width: 800px) {
  .card {
    width: 100%;
  }
}

/* --- VIEWER --- */

#viewer {
  background: #000000;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 9001;
  width: 100%;
  height: 100%
}

#viewer .viewheader {
  max-width: 1200px;
  margin: 0 auto;
}

#viewer .viewcloseallbutton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9101;
}

#viewer .viewimagecontainer {
  position: relative;
  height: 87%;
}

#viewer .viewimagecontainer img {
  max-height: 100%;
}

#viewer #viewsrccontainer {
  position: absolute;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 1);
  top: 0;
  left: 10px;
  color: #444;
  padding: 6px 12px;
  font-size: 1.1rem;
  border: 1px solid #948780;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
}

#viewer .viewsrcclosebutton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.viewsrcdownloadbutton {
  border: 1px solid #b5d0e1;
  display: inline-block;
  color: #378ec8;
  border-radius: 8px;
  margin: 0 -0.7rem 0.3rem 0;
  padding: 8px 12px;
  text-decoration: none;
  margin: 4px 0 0 4px;
  cursor: pointer;
}

a.viewsrcdownloadbutton {
  background-color: #FFF;
  color: #3c98d7;
  text-decoration: none;
}

a:hover.viewsrcdownloadbutton {
  text-decoration: none !important;
}

a.viewsrcdownloadbutton.active {
  background-color: #d8ebfa;
  color: #555;
  text-decoration: none;
}

#viewer .viewsrclicensebox {
  width: 80%;
  margin: 0 auto;
  background: #e0e2e0;
  padding: 2rem;
}

#viewer .viewsrclicensebox a {
  text-decoration: none;
}

#viewer .ViewFooterInfo {
  font-size: 1.3rem;
  color: #a8a094;
  width: 100%;
  text-align: center
}

#viewer .ViewFooterInfo a {
  text-decoration: none;
  color: #728cd4;
}

#viewer .ViewFooterLinks {
  margin-top: 0.8rem;
  color: #a8a094;
}

#viewer .ViewFooterLinks a {
  text-decoration: none;
  color: #728cd4;
}

#viewer .ViewFooterDisclaimer {
  font-size: 1rem;
  color: #7f7970;
  width: 68%;
  text-align: center;
  margin: 0 auto;
}


/* Buttons */
a.buttonpage {
  display: inline-block;
  box-shadow: 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.4);
  background: #FF7816 url('../img/go.svg') no-repeat center right 14px;
  padding: 10px 30px 10px 18px;
  text-align: center;
  line-height: 1.20rem;
  border-radius: 50px;
  color: #FFF !important;
  font-weight: 700;
  text-decoration: none;
  margin: 1rem 0 1rem 0;
}

a.buttonpage:hover {
  filter: brightness(1.1);
}

.patronagebutton a {
  display: inline-block;
  margin: 0.92rem 0 0 0.92rem;
  padding: 10px 18px;
  text-align: center;
  font-size: 0.95rem;
  line-height: 1.20rem;
  background: #f86754;
  border-radius: 50px;
  color: #FFF;
  font-weight: 700;
}

.patronagebutton:hover {
  filter: brightness(1.3);
}

a.loadmorebutton {
  box-shadow: 0.15rem 0.15rem 0.2rem #666;
  max-width: 250px;
  display: block;
  margin: 0.5rem 0.5rem 0 0;
  background: #FFF url('../img/go-dark.svg') no-repeat center right 14px;
  padding: 10px 35px 10px 28px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.20rem;
  border-radius: 12px;
  color: #444;
  text-decoration: none;
  float: right;
}

a.loadmorebutton:hover {
  filter: brightness(1.3);
}

a.commentbutton {
  box-shadow: 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.25);
  max-width: 350px;
  display: block;
  margin: 1rem auto 3rem auto;
  background: #567B95 url('../img/go.svg') no-repeat center right 14px;
  padding: 10px 35px 10px 28px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.20rem;
  border-radius: 12px;
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

a.commentbutton:hover {
  filter: brightness(1.3);
}

a.patronbutton {
  box-shadow: 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.25);
  max-width: 350px;
  display: block;
  margin: 1rem auto 0 auto;
  background: #f86754 url('../img/go.svg') no-repeat center right 14px;
  padding: 10px 35px 10px 28px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.20rem;
  border-radius: 12px;
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

a.patronbutton:hover {
  filter: brightness(1.3);
}

/* Switches for comic display options (hd/transcript) */
.comicoptions {
  position: relative;
}

.switch {
  border: 1px solid #dedede;
  display: inline-block;
  border-radius: 8px;
  margin: 0 -0.7rem 0.3rem 0;
  padding: 8px 12px 8px 32px;
  text-decoration: none;
  margin: 4px 0 0 4px;
  cursor: pointer;
}

a.switch {
  color: #444;
  text-decoration: none;
  background: #ffffff url('../img/switch_off.svg') no-repeat left center;
}

a:hover.switch {
  text-decoration: none !important;
}

a.switch.active {
  color: #555;
  text-decoration: none;
  background: #d8ebfa url('../img/switch_on.svg') no-repeat left center;
}

.bgcomic {
  background-color: #FFF;
}

.filesize em {
  color: #444;
}

/* Download/sources buttons */
.download {
  border: 1px solid #dedede;
  display: inline-block;
  border-radius: 8px;
  margin: 0 -0.7rem 0.3rem 0;
  padding: 8px 12px 8px 32px;
  text-decoration: none;
  margin: 4px 0 0 4px;
  cursor: pointer;
}

a.download {
  color: #444;
  text-decoration: none;
  background: #ffffff url('../img/download_off.svg') no-repeat left center/26px 20px;
}

a:hover.download {
  text-decoration: none !important;
}

a.download.active {
  color: #555;
  text-decoration: none;
  background: #d8ebfa url('../img/download_on.svg') no-repeat left center/26px 20px;
}

.viewdownload {
  border: 1px solid #dedede;
  display: inline-block;
  border-radius: 8px;
  margin: 0 -0.7rem 0.3rem 0;
  padding: 6px 10px 6px 30px;
  text-decoration: none;
  margin: 4px 0 0 4px;
  cursor: pointer;
  position: absolute;
  z-index: 9002;
  top: 2px;
  left: 8px;
}

a.viewdownload {
  color: #d0beb4;
  border: 1px solid #d0beb4;
  text-decoration: none;
  background: transparent url('../img/download_off.svg') no-repeat left center/26px 20px;
}

a:hover.viewdownload {
  text-decoration: none !important;
}

a.viewdownload.active {
  color: #555;
  text-decoration: none;
  background: #d8ebfa url('../img/download_on.svg') no-repeat left center/26px 20px;
}

/* --- THUMBNAILS PICTURE --- */
.thumbnail img {
  position: relative;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  width: 100%;
}

.thumbnail a:hover {
  filter: brightness(110%);
}

.thumbnail figcaption {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #c3c3c3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail figcaption .caption-smaller{
  color: #999;
  text-decoration: none;
  font-size: 0.85rem;
  font-style: italic;
}

.thumbnail figcaption a {
  color: #e7e7e7;
  text-decoration: none;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.thumbnail figcaption a:hover {
  color: #FFF;
  cursor: pointer;
}

.thumbnail .detail,
.thumbnail .detail a {
  color: #BBB;
  font-size: 0.8rem;
  text-decoration: none !important;
}

.notranslation img {
  filter: sepia(0.8);
  opacity: 0.42;
}

/* Translator credits on top of webcomic */
.translacredit {
  color: #746a62;
  font-size: 1.4rem;
  font-family: 'PepperCarrot';
  text-decoration: none;
  text-align: center;
  margin: 0 0 1.3rem 0;
  clear: both;
  max-width: 540px
}

.translacredit a {
  color: #746a62;
  text-decoration: none;
}

/* Hidden ( for top logo, transcripts for screen readers in webcomic) */
.hidden {
  height: 0px;
  width: 0px;
  font-size: 0.00001rem;
  opacity: 0.0;
}

/* About page */
.about {
  text-align: center;
}

.about p {
  margin: 1rem auto;
  max-width: 720px;
  text-align: justify;
  font-family: "Georgia", Times, serif;
  font-size: 1.2rem;
  line-height: 1.55;
}

.about h2 {
  margin: 3rem 0 1.5rem 0;
}

.about h1 {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 2.6rem;
  background: transparent url('../img/bordure.png') no-repeat bottom center;
  margin-bottom: 4rem;
}

.about img {
  margin: 1rem 0 0.5rem 0;
}

.about .button {
  text-align: center;
  display: block;
}

.about .button a {
  display: block;
  max-width: 300px;
  margin: 0 auto 2.5rem auto;
}

/* TOS page */
.tos {
  max-width: 840px;
  font-size: 1.1rem;
}

.tos p {
  text-align: left;
}

.tos h2,
.tos h1,
.tos h3 {
  font-family: ubuntu, arial, sans-serif;
  text-align: left;
}

.tos img {
  margin: 1rem 0 0.5rem 0;
}

.tos .button {
  text-align: center;
  display: block;
}

.tos .button a {
  display: block;
  max-width: 300px;
  margin: 0 auto 2.5rem auto;
}

/* Scenario page */
.scenariolist {
  color: #6e523c;
  font-size: 1.6rem;
  display: block;
  margin: 5px auto 0 auto;
  text-align: center;
}

.scenariolist:hover {
  color: #b68763;
}

.notes {
  color: #a45d25;
  font-size: 1rem;
}

/*----------*/
/*   PAGE   */
/*----------*/
/* '.page' manage all the article with a mix of text and images */
/* Philosophy, Support, ToS, and the WIKI are all using '.page' */

.page {
  background: url('../img/bg.jpg');
  border: 16px solid transparent;
  border-image: url('../img/page.jpg') 10% round;
  padding: 1rem 6% 1rem 6%;
  font-family: "Georgia", Times, serif;
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.page p {
  margin: 0.6rem 0 1.2rem 0;
  text-wrap: pretty;
}

.page img {
  max-width: 113%;
  display: block;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.page img.decoframe {
  border: 16px solid transparent;
  border-image: url('../img/border.png') 10% round;
}

.page img.round-contrast {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page img.contrast {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page h1 {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 2.6rem;
  background: transparent url('../img/bordure.png') no-repeat bottom center;
}

.page h2 {
  color: #50321e;
  font-size: 2.5rem;
  text-align: center;
  max-width: 40rem;
  margin: 1rem auto 1.4rem auto;
}

.page h3 {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.page small {
  display: block;
 font-size: 0.95rem;
 color: #676767;
}

.page .frame h3 {
 margin: 0 0 0.3rem 0;
}


.page img.aligned-left { /* tmp? */
  float: left;
  max-width: 100%;
  display: block;
  text-align: left;
  margin-left: 0;
  margin-right: 1rem;
  transform: none;
}

.page hr {
  border: dashed 1px #A79281;
  margin: 50px 0px;
}

.page .edit {
  text-align: right;
  margin-right: -6%;
}

.page .edit .button {
  display: inline-block;
  font-size: 1rem;
}

.page .edit img {
  display: inline;
  max-width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  border: none;
  transform: translate(0, 0);
}

.page .action {
  display: block;
  color: #000 !important;
  max-width: 300px;
  padding: 8px 4px 8px 20px;
  margin: 0 4px;
  text-decoration: none;
  background: #e1d698 url('../img/grain.png');
  border-radius: 4px;
  box-shadow: 0 0 0 2px #e1d698 inset, 0 0 0 3px rgba(255, 255, 255, 0.80) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
  cursor: pointer;
}

.page details>summary {
  max-width: 300px;
  padding: 4px 4px 4px 20px;
  margin-bottom: 4px;
  text-decoration: none;
  background: #c0d7a4 url('../img/grain.png');
  border-radius: 4px;
  box-shadow: 0 0 0 2px #c0d7a4 inset, 0 0 0 3px rgba(255, 255, 255, 0.80) inset, 2px 2px 3px 0 rgba(20, 0, 0, 0.50);
  cursor: pointer;
}

.page details>ol,
.page details>p {
  background-color: rgba(255, 255, 255, 0.50);
  padding: 40px;
  margin-top: 0 !important;
}


.scenario blockquote {
  font-family: "Georgia", Times, serif;
  font-style: normal;
  background-color: #fafaf6;
  margin: 0px 0px;
  padding: 1px 20px 10px 20px;
  border-radius: 10px;
}

.scenario p {
  margin: 20px 0 5px 0;
}

.notice {
  color: #aaa;
}

/* frame underline a content, eg: patronage item on Support */
.page .frame {
  display: block;
  margin: 1rem 0;
  border: 16px solid transparent;
  border-image: url('../img/border.png') 10% round;
  padding: 1rem;
}

.page .frame a {
 display: block;
 margin: 0.6rem auto 0 auto;
 text-align: right;
}

.page .frame img {
  max-width: initial;
  display: block;
  float:left;
  margin-right: 1rem;
  margin-left: 0;
  border: none;
  border-image: none;
  transform: none;
}


/* --- FILES --- */

.files {
  background: url('../img/bg_dark.jpg');
  border: 16px solid transparent;
  border-image: url('../img/page_dark.jpg') 10% round;
  padding: 1rem 0.3rem 0.3rem 0.3rem;
  font-family: "Georgia", Times, serif;
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 0.6rem;
}

/* --- SIDEBAR --- */

.sidebar {
  padding-left: 0.6rem;
  margin-top: 0.6rem;
}

.sidebar a.btn{
  margin: 0 auto;
}

.sidebar-btn {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.2rem 0.7rem 0.4rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #F0ECE9 inset, 0 0 0 3px rgba(222, 168, 131, 0.55) inset, 1px 1px 2px 0 rgba(20, 0, 0, 0.50);
  background: url('../img/bg.jpg');
  font: normal 1.4rem 'PepperCarrot', cursive;
  text-align: left;
  color: #412813;
  text-decoration: none !important;
}

.sidebar-btn.active {
  color: #b44906;
  background: #f4cc98;
}

.sidebar-btn:hover {
  text-shadow: 1px 0px 30px white, 1px 0px 20px yellow, 1px 0px 10px yellow, 1px 0px 5px white, 1px 0px 5px white;
  text-decoration: none;
}

.sidebar-menu-back {
  background: url('../img/bg_back-to-artworks.jpg');
}

.sidebar-img {
  padding-top: 0.5rem;
  padding-left: 0.6rem;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 1280px) {
  .sidebar-img {
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 0.5rem;
  }
}

.sidebar-img a.btn{
  margin: 0 auto;
}

.sidebar-img-btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 155px;
  max-width: 240px;
  padding: 0 0.7rem 0.4rem 1rem;
  text-align: center;
  flex-grow: 1;
  border-radius: 1rem;
  color: #FFF;
  text-decoration: none !important;
  font: normal 1.8rem 'PepperCarrot', cursive;
  text-shadow: 1px 0px 30px #000, 1px 0px 5px #000;
  border: 4px solid #FFF;
  box-shadow: 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 40);
  background-size: auto 100%;
  background: #7f7f7f;
}

.sidebar-img-btn.smaller {
  font-size: 1.6rem;
}

.sidebar-img-btn.active {
  border: 4px solid #FF7816;
}

@media (min-width: 1280px) {
  #files {
    height: 55px;
  }
}

a.sidebar-img-btn:hover {
  text-decoration: none;
  color: #FFF;
  filter: brightness(110%);
}

@media (max-width: 1450px) {
  .sidebar-img-btn.smaller {
    font-size: 1.4rem;
  }
}

@media (max-width: 720px) {
  .sidebar-img-btn {
    font: normal 1rem 'PepperCarrot', cursive;
    height: 4rem;
    border-width: 2px;
    border-radius: 0.5rem;
  }
  .sidebar-img-btn.smaller {
    font-size: 1rem;
  }
}

/* --- WEBCOMICS --- */

.webcomics-box { /* tmp */
  display: block;
  background: url('../img/bg_dark.jpg');
  border: 16px solid transparent;
  border-image: url('../img/page_dark.jpg') 10% round;
}

.header {
  display: block;
  min-height: 330px;
  position: relative;
  color: #000000;
  border-radius: 1rem 1rem 0 0;
  background-repeat: repeat-x;
  background-position: bottom center;
  background-color: #7f7f7f;
}

.text-glow {
    text-shadow:
    0 0 0.8rem rgba(255, 255, 255, 1),
    0 0 0.8rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 5rem rgba(255, 255, 255, 1),
    0 0 2rem rgba(255, 255, 255, 1),
    0 0 3rem rgba(255, 255, 255, 1),
    0 0 5rem rgba(255, 255, 255, 1);
}

.header-page {
  display: block;
  padding: 1rem;
}

.teaser {
  position: absolute;
  right: 15%;
  top: 8%;
  max-width: 500px;
  font-family: "Georgia", Times, serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.teaser h2{
  font-family: "PepperCarrot", Times, serif;
  font-size: 3.2rem;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1050px) {
  .header {
    min-height: 220px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
    background-position: left 30% top 20%;
  }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 55, 62, 0.65);
  }
  .teaser{
    position: relative;
    max-width: 500px;
    top: auto;
    right: auto;
    margin: 0 1rem 1rem auto;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    text-align:right;
  }
  .teaser h2{
    font-size: 2.8rem;
  }
  .text-glow {
      text-shadow: none;
  }
}

.header-sml {
  height: 5rem;
  position: relative;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
}

.header-sml h2{
  margin: 0 0;
  font-family: "PepperCarrot", Times, serif;
  font-size: 2.8rem;
  color: #FFF;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  border-right: 1px solid white;
  padding: 0 1.6rem 0.8rem 1.6rem;
  text-align: center;
}

.header-sml .text{
  display: block;
  text-align: left;
  max-width: 640px;
  font-family: "Georgia", Times, serif;
  font-size: 1.05rem;
  line-height: 1.32rem;
  font-weight: 500;
  margin-left: 1.6rem;
}


@media (max-width: 820px) {
  .header-sml .text{
    max-width: 600px;
    font-size: 1rem;
  }
}
@media (max-width: 680px) {
  .header-sml {
    display: block;
    height: auto;
    margin: 0 0 0.6rem 0;
  }
  .header-sml h2{
    font-size: 2rem;
    border: none;
    margin: 0.6rem 0;
  }
}

.header-sml-fancomics {
  position: relative;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  margin: 0 0 16px 0;
  text-align: center;
}

.header-sml-fancomics h2{
  margin: 0 0;
  font-family: "PepperCarrot", Times, serif;
  font-size: 2.8rem;
  color: #FFF;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 0 1.6rem 0.8rem 1.6rem;
  text-align: center;
}

.header-sml-fancomics .text{
  font-family: "Georgia", Times, serif;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

a.btn-fan-comics {
  color: #ffffff;
  background: #323232 url('../img/go.svg') no-repeat center right 14px;
  padding-right: 2.2rem;
  float: right;
  margin-right: 0.6rem;
}

.page .credits {
  font-size: 1.05rem;
  text-align: center;
}

.edit {
  padding-left: 1.2rem;
  line-height: 1.6;
}


/* ------------------ */
/* DOCUMENTATION WIKI */
/* ------------------ */
.wikidoc .page {
  text-align: left;
  font-size: 1.1rem;
  font-family: ubuntu, arial, sans-serif;
  padding: 15px 100px 0 100px;
}

.wikidoc .page h1 {
  font-size: 2.6rem;
  text-align: left;
  padding-bottom: 1.6rem;
  background: none;
  font-family: ubuntu, arial, sans-serif;
}

.wikidoc .page h2 {
  color: #111;
  font-size: 2.4rem;
  text-align: left;
  margin: 3.2rem 0 2rem 0;
  font-family: ubuntu, arial, sans-serif;
}

.wikidoc .page h3 {
  color: #111;
  font-size: 1.9rem;
  text-align: left;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
  font-family: ubuntu, arial, sans-serif;
}

.wikidoc .page img {
  border: none;
  border-image: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wikidoc .page a {
  color: #b64a06;
  text-decoration-color: #b64a06;
  text-decoration: underline;
}

.wikidoc .page .edit {
  text-align: right;
  margin-right: -12%;
}

.wikidoc .page .edit .button {
  display: inline-block;
  font-size: 1rem;
}

.wikidoc .page .edit img {
  display: inline;
  max-width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  border: none;
  transform: translate(0, 0);
}

.wikidoc pre, .code {
  tab-size: 2;
  border-radius: 6px;
  font-family: "Monospace", "DejaVu Sans Mono", "Liberation Mono", Monaco, monospace;
  font-size: 0.85rem;
  color: #000000;
  background-color: #fff;
  margin: 10px 0 10px 0;
  border: 1px dotted #ddd4c8;
  padding: 16px;
  overflow: auto;
  border: 1px solid #ddd;
  line-height: 1.6;
  page-break-inside: avoid;
  word-wrap: break-word;
  display: block;
  max-width: 100%;
  text-decoration: none;
}

.wikidoc code {
  border-radius: 3px;
  font-family: "Monospace", "DejaVu Sans Mono", "Liberation Mono", Monaco, monospace;
  font-size: 1rem;
  color: #000000;
  background-color: #fff;
  padding: 0 0.3rem;
  text-decoration: none;
}

.wikidoc .page h4 {
  color: #111;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1.2rem;
  font-family: ubuntu, arial, sans-serif;
}

.wikidoc .sidebar-btn {
  font: normal 1.2rem ubuntu, arial, sans-serif;
  padding: 10px;
}

.wikidoc .page .credits {
  font-size: 1rem;
  text-align: center;
  padding-top: 2.6rem;
  background: none;
}


/* --- WEBCOMICS-SOURCES --- */
.webcomic-source-page {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #FFF;
  background: #333230 url('../img/bg_dark.jpg');
  border: 16px solid transparent;
  border-image: url('../img/page_dark.jpg') 10% round;
  padding: 0.6rem 4% 2rem 4%;
}

.buttonsource {
  background: #aeaeae linear-gradient(to bottom, #f7f7f7, #ababab);
  border-radius: 0.6rem;
  color: #000000;
  border: solid #DADADA 1px;
  padding: 0.6rem;
  margin: 0 0 10px 0;
}

.source figure {
  min-height: 350px;
}

.filesize {
  font-size: 0.7rem;
  color: #646464;
}

.sourcescaptions a {
  height: 3rem;
}

.ccbox {
  background: #bebfbe;
  color: #000;
  padding: 2rem;
}

/* -- FAN-ART --- */

.fan-comic-box {
  display: block;
  margin: 1rem 0.1rem;
  border: 16px solid transparent;
  border-image: url('../img/border_darker.png') 10% round;
  background: rgba(0,0,0, 0.3);
  padding: 1rem;
  font-family: "Georgia", Times, serif;
  font-size: 1.30rem;
}

.fan-comic-page {
  background: url('../img/bg_dark.jpg');
  font-family: "Georgia", Times, serif;
  text-align: justify;
  font-size: 1.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem 1rem 0 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.fan-comic-box-detail {
  font-size: 0.9rem;
  font-family: sans-serif;
}

.fan-fiction-page {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem 1rem 0 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-image: none;
  max-width: 860px;
}

/* -- FOOTER --- */
#footer {
  color: #ffffff;
  padding: 0.6rem 0 1rem 0;
  margin: 0 0 0 0;
}

#footer .container {
  max-width: 1100px;
  margin-top: 1.4rem;
  margin-bottom: 2.8rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#footer img {
  margin: 0.2rem 0.2rem 0 0;
}

#footer img:hover {
  filter: invert(40%) sepia(90%) saturate(1600%) hue-rotate(330deg) brightness(100%);
}

#footer p {
  font: normal 0.8rem ubuntu, arial, sans-serif;
  margin: 0.4rem;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: none;
  color: #ff6708;
}
